In [1]:
import sqlalchemy
from sqlalchemy import text, create_engine

In [5]:
engine = create_engine("sqlite+pysqlite:///:memory:", echo=True, future=True)

In [6]:
with engine.begin() as conn:
    conn.execute(text("CREATE TABLE dna_bases (id int, base str)"))
    conn.execute(text("INSERT INTO dna_bases (id, base) VALUES (:id, :base)"), 
            [{"id": 1, "base": "A"}, {"id": 2, "base": "C"}, {"id": 3, "base": "T"}, {"id": 4, "base": "G"}])

2022-11-08 11:56:11,573 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-11-08 11:56:11,576 INFO sqlalchemy.engine.Engine CREATE TABLE dna_bases (id int, base str)
2022-11-08 11:56:11,579 INFO sqlalchemy.engine.Engine [generated in 0.00278s] ()
2022-11-08 11:56:11,581 INFO sqlalchemy.engine.Engine INSERT INTO dna_bases (id, base) VALUES (?, ?)
2022-11-08 11:56:11,582 INFO sqlalchemy.engine.Engine [generated in 0.00154s] ((1, 'A'), (2, 'C'), (3, 'T'), (4, 'G'))
2022-11-08 11:56:11,584 INFO sqlalchemy.engine.Engine COMMIT

In [7]:
with engine.begin() as conn:
    result = conn.execute(text("SELECT id, base FROM dna_bases"))
    for row in result:
        print(f"id: {row.id}    base: {row.base}")

2022-11-08 11:57:49,329 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-11-08 11:57:49,331 INFO sqlalchemy.engine.Engine SELECT id, base FROM dna_bases
2022-11-08 11:57:49,332 INFO sqlalchemy.engine.Engine [generated in 0.00139s] ()
id: 1    base: A
id: 2    base: C
id: 3    base: T
id: 4    base: G
2022-11-08 11:57:49,334 INFO sqlalchemy.engine.Engine COMMIT

In [ ]:
from sqlalchemy.orm import Session

stmt = text("SELECT id, base FROM dna_bases WHERE id > :id ORDER BY base, id")
with Session(engine) as session:
    result = session.execute(stmt, {"id": 2})
    for row in result:
        print(f"id: {row.id}    base: {row.base}")